# This file provides examples of Klipper G-Code macros.  The snippets
# in this file may be copied into the main printer.cfg file and
# customized.

# See docs/Config_Reference.md for a description of parameters.


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT. See docs/Slicers.md for more information on using these macros.

[gcode_macro START_PRINT]
gcode:
	SET_LED LED="toolhead_led" RED=1 GREEN=1 BLUE=1 WHITE=1 SYNC=0 TRANSMIT=1
    SET_LED LED="case_led" RED=0.2 GREEN=0.2 BLUE=0 SYNC=0 TRANSMIT=1
    
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start heating
    M140 S{BED_TEMP}
    M104 S{EXTRUDER_TEMP}  ; Hotend aufheizen starten
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z10 F3000

    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    
    # 7. Adaptives Bed Mesh erstellen (KAMP)
    BED_MESH_PROFILE LOAD=default_12_04_2026
    
    # 8. Smarte Testlinie ziehen
    LINE_PURGE

[gcode_macro END_PRINT]
gcode:
    # 1. Heizungen und Lüfter sofort aus
    M140 S0                     ; Bett aus
    M104 S0                     ; Hotend aus
    M106 S0                     ; Bauteillüfter aus
    
    # 2. Filament leicht zurückziehen & Düse minimal wegbewegen
    G91                         ; Relative Positionierung
    G1 X-2 Y-2 E-3 F300        ; Retract und minimaler Versatz
    
    # 3. Z-Achse sicher anheben (Crash-Schutz)
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 15.0) %}
        G1 Z10 F3000            ; Wenn genug Platz ist: 10mm anheben
    {% else %}
        G1 Z{max_z - act_z} F3000 ; Wenn kaum Platz ist: Nur bis zum Maximum fahren
    {% endif %}
    
    # 4. Absolut schalten & Bett nach vorne fahren
    G90                         ; Absolute Positionierung
    G1 X5 Y220 F6000            ; Ändere Y220 auf dein max Y, um das Bett zu präsentieren
    
    # 5. Motoren ausschalten
    M84

[gcode_macro PURGE_LINE]
gcode:
    M117 Purging
    {action_respond_info("Purging...")}
    G90 ; absolute positioning
    G92 E0 ; zero/reset extruder
    G1 X2.2 Y20 Z0.3 F18000 ; move to start position
    G92 E0 ; zero/reset extruder

    {% if printer[printer.toolhead.extruder].target > 220 %}
        G1 E4.8 F3600 ; prime filament PETG
        {action_respond_info("set PETG z offset")}

        SET_GCODE_OFFSET Z_ADJUST=+0.08 MOVE=1 ; set PETG z offset
    {% else %}
        G1 E0.8 F3600 ; prime filament PLA
    {% endif %}
        
    {action_respond_info("extrude the first line")}

    G1 X2.2 Y200 Z0.25 F1500 E10 ; extrude the first line
    G1 X2.5 Y200 Z0.3 F18000 ; move to side a little
    G1 X2.5 Y20 Z0.25 F1500.0 E20 ; extrude the second line

    G92 E0 ; zero/reset extruder
    G1 E-0.1 F3000 ; move nozzle up and retract tiny bit

    G91 ; relative positioning
    G0 Z1.00 X10.0 Y10.0 F20000 ; move nozzle to remove stringing
    G90 ; absolute positioning
    
    G92 E0 ; zero/reset extruder

# Cancel print macro
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  M400 ; wait for buffer to clear
  G92 E0 ; zero the extruder
  {% if printer[printer.toolhead.extruder].target > 220 %}
      G1 E-5.0 F3600 ; retract filament PETG
  {% else %}
      G1 E-1.0 F3600 ; retract filament PLA
  {% endif %}
  TURN_OFF_HEATERS
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  ##### calculate safe stringing-move target #####
  {% set max_x = printer.toolhead.axis_maximum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set cur_x = printer.toolhead.position.x|float %}
  {% set cur_y = printer.toolhead.position.y|float %}
  {% set cur_z = printer.toolhead.position.z|float %}
  {% set target_x = [cur_x + 20.0, max_x]|min %}
  {% set target_y = [cur_y + 20.0, max_y]|min %}
  {% set target_z = [cur_z + 1.0, max_z]|min %}
  G90 ; absolute positioning (statt relativ!)
  G0 Z{target_z} X{target_x} Y{target_y} F20000 ; move nozzle to remove stringing, geklemmt an Limits
  TURN_OFF_HEATERS
  M107 ; turn off fan
  G1 Z4 F3000 ; move nozzle up
  G90 ; absolute positioning
  G0 X190 Y190 F3600 ; park nozzle at rear

# Pause print macro
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro PURGE]
gcode:
    {% set LENGTH = params.LENGTH|default(60)|float %}
    {% set SPEED = params.SPEED|default(150)|float %}
    M117 Purging...
    G91
    G1 E{LENGTH} F{SPEED}
    G90
    M117 Purge done - clean nozzle, then RESUME


# Resume print macro
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  #### purge parameter, default 30mm, override with PURGE=X ####
  {% set PURGE = params.PURGE|default(30)|float %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro Tune_Bed_PLA]
gcode:
    M117 PID Tuning Bed to 60 C
    PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro Tune_PLA]
gcode:
    M117 PID Tuning Extruder to 195 C
    PID_CALIBRATE HEATER=extruder TARGET=195

[gcode_macro Tune_PETG]
gcode:
    M117 PID Tuning Extruder to 240 C
    PID_CALIBRATE HEATER=extruder TARGET=240

[gcode_macro Tune_Bed_PETG]
gcode:
    M117 PID Tuning Bed to 75 C
    PID_CALIBRATE HEATER=heater_bed TARGET=75

######################################################################
# HTU21D family Environmental Sensor
######################################################################

# The macro below assumes you have a HTU21D sensor_type defined in one
# of the applicable sections in printer.cfg, such as:
#
#[temperature_sensor my_sensor]
#sensor_type: HTU21D
#
# Note the format of the parameter SENSOR in the macro below.  The HTU21D
# sensor status can be accessed using the format "htu21d <section_name>".
# The example section above is named "my_sensor", thus the htu21d can be
# queried as follows:
#
# QUERY_HTU21D SENSOR='htu21d my_sensor'
#
# Since a default parameter is defined one could simply enter QUERY_HTU21D
# as well.

[gcode_macro QUERY_HTU21D]
gcode:
    {% set sensor = printer["htu21d my_sensor"] %}
    {action_respond_info(
        "Temperature: %.2f C\n"
        "Humidity: %.2f%%" % (
            sensor.temperature,
            sensor.humidity))}

######################################################################
# Override M117 command with rawparams
######################################################################

# The macro below will override the default M117 command to echo the message.
#
# It uses the rawparams pseudo-variable that contains the full unparsed
# parameters that was passed to the M117 command.
#
# As this can include comments, we are trimming the text when a `;` or `#` is
# found, and escaping any existing `"`

[gcode_macro M117]
rename_existing: M117.1
gcode:
  {% if rawparams %}
    {% set escaped_msg = rawparams.split(';', 1)[0].split('\x23', 1)[0]|replace('"', '\\"') %}
    SET_DISPLAY_TEXT MSG="{escaped_msg}"
    RESPOND TYPE=command MSG="{escaped_msg}"
  {% else %}
    SET_DISPLAY_TEXT
  {% endif %}

# SDCard 'looping' (aka Marlin M808 commands) support
#
# Support SDCard looping
[sdcard_loop]

# 'Marlin' style M808 compatibility macro for SDCard looping
[gcode_macro M808]
gcode:
    {% if params.K is not defined and params.L is defined %}SDCARD_LOOP_BEGIN COUNT={params.L|int}{% endif %}
    {% if params.K is not defined and params.L is not defined %}SDCARD_LOOP_END{% endif %}
    {% if params.K is defined and params.L is not defined %}SDCARD_LOOP_DESIST{% endif %}

# Cancel object (aka Marlin/RRF M486 commands) support
#
# Enable object exclusion
[exclude_object]

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

######################################################################
# G130: Set digital potentiometer value
######################################################################

# The macro below uses the MCP4018 SET_DIGIPOT command to implement
# a `G130` as used on classic Mightyboard-based printers such as
# The Makerbot Replicator 2/2X.
#
# The `G130` command can be used to lower the stepper current
# during preheating and raise the current again prior to starting
# the print.  This is necessary for printers with smaller power
# supplies that needed all the power to heat the bed.
#
# This macro requires one or more [mcp4018] configuration sections:
# (x_axis_pot, y_axis_pot, z_axis_pot, a_axis_pot, b_axis_pot)
#
# Example: G130 X20 Y20 Z20 A20 B20 ; Lower stepper Vrefs while heating

[gcode_macro G130]
gcode:
  M400
  {% if ('X' in params) and ('mcp4018 x_axis_pot' in printer.configfile.config) %}
    {% set x_value = params['X']|float %}
    {% set x_axis_pot_scale = printer.configfile.config["mcp4018 x_axis_pot"].scale|float %}
    SET_DIGIPOT DIGIPOT=x_axis_pot WIPER={ x_axis_pot_scale * (x_value / 127.0)}
  {% endif %}
  {% if ('Y' in params) and ('mcp4018 y_axis_pot' in printer.configfile.config) %}
    {% set y_value = params['Y']|float %}
    {% set y_axis_pot_scale = printer.configfile.config["mcp4018 y_axis_pot"].scale|float %}
    SET_DIGIPOT DIGIPOT=y_axis_pot WIPER={ y_axis_pot_scale * (y_value / 127.0)}
  {% endif %}
  {% if ('Z' in params) and ('mcp4018 z_axis_pot' in printer.configfile.config) %}
    {% set z_value = params['Z']|float %}
    {% set z_axis_pot_scale = printer.configfile.config["mcp4018 z_axis_pot"].scale|float %}
    SET_DIGIPOT DIGIPOT=z_axis_pot WIPER={ z_axis_pot_scale * (z_value / 127.0)}
  {% endif %}
  {% if ('A' in params) and ('mcp4018 a_axis_pot' in printer.configfile.config) %}
    {% set a_value = params['A']|float %}
    {% set a_axis_pot_scale = printer.configfile.config["mcp4018 a_axis_pot"].scale|float %}
    SET_DIGIPOT DIGIPOT=a_axis_pot WIPER={ a_axis_pot_scale * (a_value / 127.0)}
  {% endif %}
  {% if ('B' in params) and ('mcp4018 b_axis_pot' in printer.configfile.config) %}
    {% set b_value = params['B']|float %}
    {% set b_axis_pot_scale = printer.configfile.config["mcp4018 b_axis_pot"].scale|float %}
    SET_DIGIPOT DIGIPOT=b_axis_pot WIPER={ b_axis_pot_scale * (b_value / 127.0)}
  {% endif %}